/* Content Wrapper */
.content-wrapper {
  margin-left: 250px;
  padding: 20px;
}

.content-header {
  background-color: #f4f6f9;
  padding: 15px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.brand-link {
  text-decoration: none; /* Removes underline */
}
