.brand-link {
    text-decoration: none !important; /* Remove text underline */
  }
  
.card-header .card-title {
    margin-bottom: 0; /* Remove any extra bottom margin */
}

.card-header .btn-primary {
background-color: #17a2b8; /* Light teal */
border-color: #17a2b8;
color: white; /* White text for contrast */
}

.card-header .btn-primary:hover {
background-color: #138496; /* Slightly darker teal on hover */
border-color: #138496;
}
    
.table td, 
.table th {
  vertical-align: middle; /* Vertically center the text */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds */
    /* z-index: 1000; */
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .popup-content button {
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .content-wrapper {
    margin-left: 0;
    padding-left: 0;
  }
  
  .small-box.bg-info {
    background-color: #17a2b8; /* Teal */
    color: #fff; /* White text */
}

.small-box.bg-success {
    background-color: #28a745; /* Green */
    color: #fff; /* White text */
}

.small-box.bg-warning {
    background-color: #ffc107; /* Yellow */
    color: #212529; /* Dark text */
}

.small-box.bg-secondary {
    background-color: #6c757d; /* Gray */
    color: #fff; /* White text */
}

  