.brand-link {
    text-decoration: none !important; /* Remove text underline */
  }

  .content-header h1 {
    margin-top: 20px; /* Adjust to match the admin dashboard */
}

  .row .col-lg-3 {
    margin-bottom: 3px; /* Add margin below each widget for spacing */
}


.card-header .card-title {
    margin-bottom: 0; /* Remove any extra bottom margin */
}

.card-header .btn-primary {
background-color: #17a2b8; /* Light teal */
border-color: #17a2b8;
color: white; /* White text for contrast */
}

.card-header .btn-primary:hover {
background-color: #138496; /* Slightly darker teal on hover */
border-color: #138496;
}
    
.table td, 
.table th {
  vertical-align: middle; /* Vertically center the text */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds */
    /* z-index: 1000; */
  }
  
  /* .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  } */

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%; /* Adjusted to occupy 90% of the screen width */
    max-width: 850px; /* Set a reasonable maximum width */
    height: 98%; /* Adjusted to occupy 90% of the screen height */
    max-height: 1200px; /* Set a reasonable maximum height */
    text-align: center;
    overflow-y: auto; /* Add scrolling if content exceeds height */
}
  
  .popup-content button {
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .content-wrapper {
    margin-left: 0;
    padding-left: 0;
  }


  /* Medicines Input */
  .suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%; /* Ensure it matches the width of the input field */
    margin-top: 5px; /* Add spacing below the input field */
  }

  .suggestions {
    border: 2px solid red;
    z-index: 1050; /* Adjust z-index if needed */
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background: #f0f0f0;
  }
  